:root {
    --primary-color: #EF3A7A;
    --text-color: #9795b7;
    --bg-color: #f8f7f7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Lexend', sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
}

body {
    background-color: var(--bg-color);
}

.app-container {
    position: relative;
    overflow-y: scroll;
    max-width: 420px;
    height: 98vh;
    margin: 0.5% auto 0;
    box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.1);
}

/* Player */

.player {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    padding: 24px;
    background: hsla(12, 89%, 89%, 1);
    background: linear-gradient(90deg, hsla(12, 89%, 89%, 1) 0%, hsla(329, 82%, 76%, 1) 50%, hsla(342, 95%, 78%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(12, 89%, 89%, 1) 0%, hsla(329, 82%, 76%, 1) 50%, hsla(342, 95%, 78%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(12, 89%, 89%, 1) 0%, hsla(329, 82%, 76%, 1) 50%, hsla(342, 95%, 78%, 1) 100%);
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-play {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player .song-name {
    display: -webkit-box;
    align-self: center;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 2.2rem;
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;

}

.cd {
    align-self: center;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
}

.cd .cd-thumb {
    padding-top: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
    cursor: default;
}

.controls span {
    padding: 18px;
    color: #8784b7;
    font-size: 1.8rem;
}

.controls .repeat.active {
    position: relative;
    color: var(--primary-color);
}

.controls .repeat.active::after {
    content: "";
    position: absolute;
    left: 48%;
    bottom: 8.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.controls .play {
    --size: 50px;
    height: var(--size);
    min-width: var(--size);
    padding: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 2.6rem;
    line-height: var(--size);
    text-align: center;
    box-shadow: 0 4px 6px 2px rgba(239, 58, 122, 0.2);
}

.controls .play .icon-play {
    padding-left: 2px;
}

.controls .shuffle.active {
    position: relative;
    color: var(--primary-color);
}

.controls .shuffle.active::after {
    content: "";
    position: absolute;
    left: 48%;
    bottom: 8.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.progress {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-size: 1.3rem;
    cursor: default;
}

.progress .time-elapsed {
    display: block;
    width: 24px;
}

#progress {
    -webkit-appearance: none;
    overflow: hidden;
    width: 297px;
    height: 6px;
    margin: 0 12px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 12px;
    border-radius: 3px;
    background-color: var(--primary-color);
    box-shadow: -297px 0 0 297px var(--primary-color);
}

/* Playlists */

.playlists {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 380px;
}

.playlists .song {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 4px 0;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.playlists .song.active .song-name {
    color: var(--primary-color);
}

.playlists .thumb {
    min-width: 48px;
    height: 48px;
    margin: 0 4px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
}

.playlists .info {
    flex: 1;
    margin: 0 8px 0 12px;
    cursor: default;
}

.playlists .song-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 2.2rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 500;
}

.playlists .artist {
    margin-top: 8px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.playlists .option {
    padding-right: 4px;
    font-size: 2rem;
    text-align: right;
}

.playlists .option>i {
    color: var(--text-color);
}